.header__logo__block {
    margin: 0 0 31px 29px;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}
.header__user{
    display: inline-block;
}
.header__user_inner{
    line-height: 25%;
}