.main__table{
    background-color: #0EC86F;
}
.main__table_icon{
    position:relative;
    top:6px;
    opacity: 0.5;
}
.main__table_component{
    position: relative!important;
}
.main__table_btn{
    background: white;
    border: none;
}
.main__table_btn_color{
    background: #0EC86F;
    border: none;
}
.main__table_body{
    background: #0EC86F;
}